body {
  background: #c5eaff;
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  justify-content: flex-start;
}

.hlavni-nadpis {
  font-family: 'Caveat', cursive, sans-serif;
  font-size: 14vw;   /* ještě větší nadpis */
  text-align: center;
  color: #996633;
  margin-bottom: 2vw;
  margin-top: 5vw;
  text-shadow: 0 3px 14px #fff8, 0 2px 1px #fff4;
  letter-spacing: 2px;
}
@media (min-width: 700px) {
  .hlavni-nadpis {
    font-size: 4.5rem;
    margin-bottom: 20px;
    margin-top: 32px;
  }
}

.panel {
  box-shadow: 0 5px 25px #0001;
  border-radius: 2.5vw;
  max-width: 94vw;
  width: 94vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legenda {
  background: #fdf8e6;
  padding: 3vw 4vw;
  margin-bottom: 2vw;
}

.legenda-nadpis {
  font-family: 'Caveat', cursive, sans-serif;
  font-size: 2.5rem;
  color: #a87c3f;
  text-align: center;
  margin-bottom: 1vw;
}

.legenda-body {
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
}

.herni {
  background: #a87c3f;
  min-height: 70vw;     /* zvětšeno! */
  min-width: 94vw;
  max-width: 94vw;
  max-height: 85vw;
  font-size: 2.8rem;
  color: #443011;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .panel {
    border-radius: 32px;
    max-width: 550px;
    width: 550px;
  }
  .legenda {
    padding: 32px 36px;
  }
  .legenda-nadpis {
    font-size: 2.3rem;
    margin-bottom: 10px;
  }
  .legenda-body {
    font-size: 1.7rem;
  }
  .herni {
    min-height: 470px;   /* zvětšeno! */
    min-width: 550px;
    max-width: 550px;
    max-height: 520px;
    font-size: 2.7rem;
  }
}
